<a href="https://colab.research.google.com/github/Ch0k/ML-DZ1/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import numpy as np
import pandas as pd
import scipy.stats
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

data = pd.read_csv('athletes.csv')
data.head()

          id            name nationality  ... gold silver  bronze
0  736041664  A Jesus Garcia         ESP  ...    0      0       0
1  532037425      A Lam Shin         KOR  ...    0      0       0
2  435962603     Aaron Brown         CAN  ...    0      0       1
3  521041435      Aaron Cook         MDA  ...    0      0       0
4   33922579      Aaron Gate         NZL  ...    0      0       0

[5 rows x 11 columns]

In [24]:
data.shape

(11538, 11)

In [25]:
data.info

<bound method DataFrame.info of               id                name nationality  ... gold silver  bronze
0      736041664      A Jesus Garcia         ESP  ...    0      0       0
1      532037425          A Lam Shin         KOR  ...    0      0       0
2      435962603         Aaron Brown         CAN  ...    0      0       1
3      521041435          Aaron Cook         MDA  ...    0      0       0
4       33922579          Aaron Gate         NZL  ...    0      0       0
...          ...                 ...         ...  ...  ...    ...     ...
11533  265605954  Zurian Hechavarria         CUB  ...    0      0       0
11534  214461847      Zuzana Hejnova         CZE  ...    0      0       0
11535   88361042             di Xiao         CHN  ...    0      0       0
11536  900065925   le Quoc Toan Tran         VIE  ...    0      0       0
11537  711404576      le Roux Hamman         RSA  ...    0      0       0

[11538 rows x 11 columns]>

In [26]:
data[ pd.isnull(data['height'])].head().count

<bound method DataFrame.count of            id                name nationality  ... gold silver  bronze
12  258556239          Abbas Qali         IOA  ...    0      0       0
47  469953606  Abdoullah Bamoussa         ITA  ...    0      0       0
50  325809293          Abdul Omar         GHA  ...    0      0       0
52  262868423  Abdulaziz Alshatti         IOA  ...    0      0       0
56  897549624   Abdullah Hel Baki         BAN  ...    0      0       0

[5 rows x 11 columns]>

In [27]:
data = data[pd.isnull(data['height']) == 0 ]

In [28]:
data[ pd.isnull(data['weight'])].head().count

<bound method DataFrame.count of            id                                 name  ... silver bronze
28  349871091                 Abdelhafid Benchabla  ...      0      0
30   23564778                     Abdelkader Chadi  ...      0      0
37  934545704  Abdelrahman Salah Orabi Abdelgawwad  ...      0      0
53  101781750                Abdulkadir Abdullayev  ...      0      0
57     153457                      Abdullahi Shehu  ...      0      1

[5 rows x 11 columns]>

In [29]:
data = data[pd.isnull(data['height']) == 0 ]

In [31]:
data[ pd.isnull(data['sport'])].head()

Empty DataFrame
Columns: [id, name, nationality, sex, dob, height, weight, sport, gold, silver, bronze]
Index: []

In [32]:
data[ pd.isnull(data['sex'])].head()

Empty DataFrame
Columns: [id, name, nationality, sex, dob, height, weight, sport, gold, silver, bronze]
Index: []

In [33]:
data[ pd.isnull(data['nationality'])].head()

Empty DataFrame
Columns: [id, name, nationality, sex, dob, height, weight, sport, gold, silver, bronze]
Index: []

In [36]:
selectedColumns = data [['height', 'sport','sex']]
X = pd.get_dummies (selectedColumns, columns = ['sport'])
del X['sex']
print('Пометили вид спорта спортсмена единичкой.')
X.head()

Пометили вид спорта спортсмена единичкой.

   height  sport_aquatics  ...  sport_weightlifting  sport_wrestling
0    1.72               0  ...                    0                0
1    1.68               0  ...                    0                0
2    1.98               0  ...                    0                0
3    1.83               0  ...                    0                0
4    1.81               0  ...                    0                0

[5 rows x 29 columns]

In [38]:
Y = data['sex']
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit( data['sex'])
y = pd.Series (data = le.transform(data['sex']))
y.head()

0    1
1    0
2    1
3    1
4    1
dtype: int64

In [35]:
model = LogisticRegression()

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

In [ ]:
model.fit(X_train, Y_train)

In [ ]:
predictions = model.predict_proba(X_test)

In [ ]:
model.score(X_train, Y_train)